body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #171719;
  color: white;
  font-family: "Circe", sans-serif, Consolas, Monaco;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}
.search {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 40px;
}
.search__input {
  display: flex;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.search__input:focus {
  box-shadow: 0 0 2px 1px rgba(76, 0, 255, 0.623);
}
.search__counter {
  display: block;
  font-family: "Circe";
  font-size: 14px;
}

.main {
  display: flex;
  position: relative;
  width: 1440px;
}
.users,
.user__info {
  padding: 10px;
  flex-basis: 50%;
}

.users__list {
  display: flex;
  flex-wrap: wrap;
}

.user-preview {
  display: flex;
  width: 20%;
  padding: 0 10px 20px 10px;
  flex-direction: column;
  cursor: pointer;
}
.user-preview__photo {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
}
.user-preview__name {
  text-align: center;
  font-size: 12px;
}

.user-info__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.user-info__block:last-child {
  margin-bottom: 0;
}

.user-info__block_avatar {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
}
.user-info__avatar {
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.user-info__name {
  font-size: 20px;
}

.user-info__title {
  margin-bottom: 10px;
}

.user-info__list {
  display: flex;
  flex-wrap: wrap;
}
.user-info__item {
  list-style-type: none;
  margin-right: 10px;
}

.users__btn {
  display: block;
  margin: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  font-family: "Circe";
}

@media (max-width: 1440px) {
  .main {
    width: 980px;
  }
  .user-preview {
    width: 25%;
  }
}

@media (max-width: 980px) {
  .main {
    width: 740px;
  }
  .user-preview {
    width: 33%;
  }
}
